&spi3 {
	sck-pin = <11>;
	mosi-pin = <12>;
	miso-pin = <13>;
	cs-gpios = <&gpio0 9 0>;

	at45db321e@0 {
		compatible = "adesto,at45d";
		reg = <0>;
		spi-max-frequency = <15000000>;
		label = "AT45DB321E";
		jedec-id = [1f 27 01];
		size = <33554432>;
		block-size = <4096>;
		page-size = <512>;
	};
};
